<div>
    <h1>Below you can find your short URL</h1>
    <br>
    <div align="center">
        <!-- HACK: Have to add http:// for localhost.. -->
        <a href="http://<%= @short_uri %>" target="_blank"> <%= @short_uri %></a>
    </div>
</div>
